<div *ngIf="item">
  <section class="ae-container-fluid ae-container-fluid--full">
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <div class="item-inside__meta">
            <h1 class="ae-u-bolder rk-portfolio-title ">{{ item.titulo }}</h1>
            <p class="ae-theta rk-portfolio-category ">{{ item.subtitulo1 }}</p>
          </div>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
          <p class="rk-portfolio-inner-client "><span class="ae-lambda">Cliente: </span><span class="ae-u-bolder">{{ item.cliente }}</span></p>
          <p class="au-underline rk-portfolio-inner-website ">
             <a href="{{ item.link }}" target="_blank" class="ae-kappa">{{ item.link }}</a></p>
            <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">{{ item.fecha }}</p>
          </div>
        </div>
      </div>
      <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
          <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
            <h4 class="ae-u-bolder">Descripción</h4>
            <p class="ae-eta"> {{ item.desc }} </p>
          </div>
          <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/items_fotos/{{codigo}}/1.jpg" alt="{{ item.titulo }}"></div>
        </div>
      </div>

      <div class="ae-container-fluid au-pt-4 au-pb-4">
        <div class="group-buttons"><a href="#0" class="au-mt-2 arrow-button arrow-button--right">Next Project<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></div>
        </div>
      </section>
    </div>
