<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">

  

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Sobre mi y mi trabajo...</h4>
      <p>Si necesitas diseñar, desarrollar, gestionar, y/o comercializar una web, soy lo que estás buscando.
          Desde un blog simple hasta aplicación web compleja con bases de datos, puedo diseñar y desarrollar una solución que funcione para vos y para tus clientes.
          </p>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1" *ngFor="let miembro of _is.equipo">
    <div class="ae-grid__item--alt item-lg-4">
       <img [src]="miembro.url" alt="" class="au-mb-3">
      <h6 class="ae-u-boldest">{{ miembro.nombre }}</h6>
      <p class="au-lh-3">{{ miembro.cargo }} </p>
    </div>
    <div class="ae-grid__item--alt item-lg-8">
      <h6 class="ae-u-boldest"></h6>
      <p class="au-lh-3">
          Hola, soy Bianca Menacho Villagomez, pero la gente me llama B o Bianquis. Nací en 1994 pero no empecé a hacer diseñar y desarrollar webs hasta el 2015, cuando empecé a trabajar en una agencia de marketing.<br><br>
          Desde entonces he adquirido gran experiencia en el mundo web, tanto en diseño como en desarrollo a medida. Me encanta mi trabajo y disfruto de cada nuevo proyecto en el que me involucro como si fuese mío.
          <br><br>
          …Sí, ya sé que hay mucha gente y empresas que hacen diseñan y desarrollan webs, pero es que yo amo lo que hago. Existe quien te promete la mejor calidad, rapidez y todo al mejor precio... yo no te hago promesas... yo me manchamos las manos en cada proyecto.
          <br><br>
          Así que me contactas, me cuentas lo que quieres y nos ponemos manos a la obra. Si necesitas una web, un catálogo, un blog o.… has tenido la "súper idea", no hay problema, yo puedo hacer eso y mucho más.
          
          No dudes en echar un vistazo a mi portfolio y ponerte en contacto conmigo si crees que puedo ser de ayuda.

      </p>
    </div>
   
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a [routerLink]="['/home']" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver portafolio<span class="arrow-cont">
    <svg>
      <use xlink:href="assets/img/symbols.svg#arrow"></use>
    </svg></span></a></p>
  </div>
